* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   

}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  background: rgb(212, 69, 69);
  color: black;


}

.navbar h1 {
  font-size: 40px;
}

.navlinks ul {
  display: flex;
  list-style: none;
  gap: 30px;

}

.navlinks a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  transition: 0.3s;

}


.navlinks a:hover {
  color: #9ea7d8;
}

.submenu {
  position: absolute;
  top: 40px;
  left: 0;
  background: rgb(194, 128, 128);
  padding: 10px 0;
  display: none;
  min-width: 180px;
  list-style: none;
}

.submenu li {
  padding: 10px 20px;
}

.submenu li a {
  color: black;
  display: block;
}

.dropdown:hover .submenu {
  display: block;
}

.dropdown {
  position: relative;

}