
/* 
.highlight{
    background-color: #2b2929; 
}
.one{
    background-color: black; 
    padding: 10px; 
    color: white;

}*{
  background-color: black;  
} */


/* *{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
    font-family: arial, sans-serif;
}

body{
    background-color: #0b0b0b;
    color: white;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;

}

.nav-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.list li a:hover{
    color:  #20e3b2;
}
.list li a {
    padding: 10px;
    display: block;
}

.list{
    display: flex;
    gap: 30px;
    list-style: none;

}

.contact-btn{
    background-color: #20e3b2;
    border: none;
    padding: 18px ;
    cursor: pointer;
    font-weight: bold;
}

.section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
}

.section-img{
    width: 350px;
    border-radius: 10px;
}

.section-text{
    max-width: 500px;
}
.section-text h4{
    color: #20e3b2;
    margin-bottom: 10px;
}

.section-text h1{
    font-size: 48px;
    margin-bottom: 20px;
}

.section-text span{
    color: #20e3b2;
}

.section-text p{
    font-size: 14px;
    line-height: 1.6
    margin-bottom: 20px;
}

.btn{
    background: none;
    border: 2px solid #20e3b2;
    color: #2b2929;
    padding: 10px 20px;
    cursor: pointer;

} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #0b0b0b;
    color: white;
}

/* NAVBAR */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
}

.logo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.menu {
    display: flex;
    list-style: none;
    gap: 30px;
}

.menu li {
    font-size: 14px;
    cursor: pointer;
}

.contact-btn {
    background-color: #20e3b2;
    border: none;
    padding: 8px 18px;
    cursor: pointer;
    font-weight: bold;
}

/* HERO SECTION */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
}

.hero-image img {
    width: 350px;
    border-radius: 10px;
}

.hero-text {
    max-width: 500px;
}

.hero-text h4 {
    color: #20e3b2;
    margin-bottom: 10px;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-text span {
    color: #20e3b2;
}

.hero-text p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.cv-btn {
    background: none;
    border: 2px solid #20e3b2;
    color: #20e3b2;
    padding: 10px 20px;
    cursor: pointer;
}